.chatbot-container {
  display: flex;
  height: 87vh;
  box-sizing: border-box;
  max-width: 65vw;
  margin: 0 auto;
  padding: 10px;
  background-color: #c9f2f9;
  border-radius: 0px 0px 20px 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.request-button {
  background-color: #614caf;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.request-button:hover {
  background-color: #6545a0;
}

.encrypt-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.encrypt-button:hover {
  background-color: #45a049;
}

.chat-history {
  background-image: url('/images/chatHistoryBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  border-radius: 20px;
  max-width: 65vw;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 50vw;
}

.user {
  background-color: #e6f2ff;
  align-self: flex-end;
}

.bot {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.input-form {
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
  position: fixed;
  bottom: 7vh;
  width: 90%;
  max-width: 50vw;
  left: 50%;
  transform: translateX(-50%);
}

.pdf-file-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  position: fixed;
  background-color: white;
  padding: 8px 10px;
  border-radius: 5px;
  bottom: 95px;
  left: 21%;
}

.pdf-file-info svg {
  margin-right: 5px;
}

.block {
  background: transparent;
  height: 80px;
  padding: 50px 0;
}
.chat-input {
  flex-grow: 1;
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
}

.file-upload-label,
.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  color: #666;
}

.file-upload-label:hover,
.send-button:hover {
  color: #333;
}

@media (max-width: 768px) {
  .input-form {
    width: 95%;
  }
}
